---
####################################################################
# MINECRAFT SERVER
####################################################################
services:
####################################################################
# Service Name
####################################################################
#
# DIRECTIONS
# Define Service Name here. If using RCON this name will be
# referenced again as RWA_RCON_HOST below.
# EXAMPLE
# Example: 'mc_atm6:'
####################################################################
  mc_distant_horizons_1:

####################################################################
# Image & Container Name
####################################################################
#
# DIRECTIONS
# Specify Image Name and Java Version. The 'image' will always be
# 'itzg/minecraft-server' however the tag added to the end is
# where you can specify the java version or container architecture.
# See readme.md for a full list.
#
# OPTIONS
# - 'container_name:': This can be anything you like. This is the
# name that will show when you run 'docker ps' commands.
####################################################################
    image: itzg/minecraft-server:latest
    container_name: mc_distant_horizons_1

####################################################################
# Server Ports
####################################################################
#
# DIRECTIONS
# Specify external port.
####################################################################
    ports:
      - ${MC_PORT_HOST}:${MC_PORT_DOCKER}/tcp
    dns:
      - 1.1.1.1

####################################################################
# Automatic Server Restart
####################################################################
#
# DIRECTIONS
# Define a restart policy here.
# - 'no' : Do not restart.
# - 'on-failure' : Restart if container exits because an error.
# - 'always' : Regardless of stop reason.
# - 'unless-stopped' : Similar to always except if stopped.
####################################################################
    restart: unless-stopped

####################################################################
# Volume and Folder Access
####################################################################
#
# DIRECTIONS
# This section defines what folders and volumes you want to give
# this container access to. It is recommended to leaves these set
# to the default values unless you know what you are doing.
####################################################################
    volumes:
      - minecraftdata_mc_distant_horizons_1:/data

####################################################################
# EULA
####################################################################
#
# DESCRIPTION
# Accept EULA by setting to "true"
####################################################################
    environment:
      EULA: "TRUE"

####################################################################
# CONTAINER USER
####################################################################
#
# DESCRIPTION
# Sets the default user to run the container
####################################################################
      PUID: 1000
      PGID: 1000

####################################################################
# MINECRAFT VERSION
####################################################################
#
# DESCRIPTION
# Sets the Minecraft version
####################################################################
      VERSION: 1.21.4

####################################################################
# MODS
####################################################################
#
# DIRECTIONS
# Add "slugs" to the mods you would like to use:
####################################################################
      MODRINTH_ALLOWED_VERSION_TYPE: "alpha"
      TYPE: FABRIC
      MODRINTH_DOWNLOAD_DEPENDENCIES: "required"
      MODRINTH_PROJECTS: |
        anvil-restoration
        audaki-cart-engine
        better-stats
        better-than-mending
        ct-overhaul-village
        cycle-paintings
        distanthorizons
        double-doors
        dungeons-and-taverns
        dungeons-and-taverns-stronghold-overhaul
        explorify
        fabric-api
        geophilic
        hearths
        hopo-better-mineshaft
        hopo-better-ruined-portals
        hopo-better-underwater-ruins
        horsebuff
        inventory-totem
        mastercutter
        mine-spawners
        netherportalfix
        no-feather-trample
        nullscape
        rightclickharvest
        scaffolding-drops-nearby
        ships
        sparsestructures
        stack-refill
        structory
        structory-towers
        tectonic
        terralith
        tidal-towns
        toggle-item-frames
        towns-and-towers
        true-ending
        universal-graves
        yungs-better-desert-temples
        yungs-better-dungeons
        yungs-better-end-island
        yungs-better-jungle-temples
        yungs-better-nether-fortresses
        yungs-better-ocean-monuments
        yungs-better-witch-huts

####################################################################
# DATAPACKS
####################################################################
#
# LIST [Alphabetical]
# - Waystones V3
#
# DESCRIPTION
# Add URIs to the datapacks you would like to use:
####################################################################
      REMOVE_OLD_DATAPACKS: "true"
      DATAPACKS: |
        https://cdn.modrinth.com/data/UKUcgltR/versions/7uQ7OHeF/pk_waystones_v.3.4.3_mc_1.21.4.zip

####################################################################
# RESOURCEPACKS
####################################################################
#
# DIRECTIONS
# Add URIs to the resourcepack you would like to use
####################################################################
      RESOURCE_PACK: https://cdn.modrinth.com/data/1D9ModDm/versions/9O9kUbLk/Waystones_RP_2.10.zip
      RESOURCE_PACK_SHA1: cb23cd99d864e0ab25ee353b16b28550647f6127

####################################################################
# Server Memory
####################################################################
#
# DIRECTIONS
# Set Maximum amount of memory allowed for your server.
####################################################################
      MEMORY: "8G"

####################################################################
# Logging Options
####################################################################
#
# DIRECTIONS
# Set to "true" to delete old logs
####################################################################
      ENABLE_ROLLING_LOGS: "true"

####################################################################
# Server Timezone
####################################################################
#
# DIRECTIONS
# Specify server Timezone
####################################################################
      TZ: ${TZ:-UTC}

####################################################################
# Game Options
####################################################################
#
# DIRECTIONS
# List any game options you want to define here.
####################################################################
      OVERRIDE_SERVER_PROPERTIES: "true"
      ALLOW_FLIGHT: "true"
      DIFFICULTY: "normal"
      ENABLE_WHITELIST: "true"
      ENABLE_COMMAND_BLOCK: "true"
      ENFORCE_WHITELIST: "true"
      ICON: https://cdn.modrinth.com/data/uCdwusMi/e716cda9bb568b5373ff76e363fb4c6d7278fba6_96.webp
      MAX_PLAYERS: 10
      MAX_TICK_TIME: "-1"
      OPS: ${OP_USER}
      MAX_CHAINED_NEIGHBOR_UPDATES: 10000
      MOTD: ${MOTD}
      SEED: ${SEED}
      VIEW_DISTANCE: 8
      SIMULATION_DISTANCE: 6
      SYNC_CHUNK_WRITES: "false"

####################################################################
# Misc Options
####################################################################
    tty: true
    stdin_open: true
####################################################################
# Volumes
####################################################################
#
# DIRECTIONS
# Define data volume name here. This will be where the world lives
# and what will be backed up.
####################################################################
volumes:
  minecraftdata_mc_distant_horizons_1:
    external: true
